*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: lightgray;
    max-width: 1200px;
    margin:auto;
    height: 100%;
}

h2{
color: rgb(72, 72, 177);
text-align: center;
}
#about{
    font-family:cursive;
    text-align: justify;
    padding: 30px; 
    border: dotted 3px rgb(69, 69, 173);
    max-width: 900px;
    margin:auto;
    border-radius: 30px;
}

#banner{
    background-image: url(../images/home_banner.png);
    max-width: 1000px;
    height: 300px;
    margin: auto;
}

nav{
    background-color: rgb(73, 73, 163);
    width: auto;
    opacity: 90%;
    position: fixed;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav a:hover{
    background-color: grey;
    font-size: 20px;
    color: green;
}

#footer{
    background-color: rgb(175, 175, 207);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: rgb(69, 69, 173);
    clear: both;
}