*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: lightgray;
}

h2{
color: rgb(72, 72, 177);
text-align: center;
}
p{
    color: rgb(71, 71, 160);
    line-height: 1.5px;
    font-weight: 900;
    font-family: cursive;
    font-style: normal;
    word-spacing: 1px;
}